.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 400px;
}
